##############################################################################
## Rust

Cargo.lock
target

##############################################################################
## Visual Studio Code

/.vscode/

##############################################################################
## Various

*.bak
*.bk
